<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <title>Accounts</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>

        <h1>People on the site</h1>

        <ul>
            <li th:each="account: ${accounts}">
                <a th:href="@{/accounts/{id}(id=${account.id})}">
                    <span th:text="${account.username}">name</span>
                    <form method="POST" th:action="@{/accounts/{id}(id=${account.id})}">
                        <input type="submit" value="Lisää yhteys!"/>
                    </form>
                </a>
            </li>
        </ul>





    </body>
</html>
