<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <title>Accounts</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">

        </header>
        <div class="container">
            <h1>People on the site</h1>
            <p>On this page you can see a list of all accounts</p>
            <div class="row">
                <ul>

                    <li th:each="account: ${accounts}">
                        <a th:href="@{/accounts/{id}(id=${account.id})}">

                            <span th:text="${account.username}">name</span>



                        </a>
                        <div class="col">
                            <form method="POST" th:action="@{/accounts/{id}(id=${account.id})}">
                                <input type="submit" value="Add Friend!"/>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
