<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <title>Own profile</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>


        <div sec:authorize="isAuthenticated()" class="container">
            <h1>Welcome  <span th:text="${username}">username</span>!</h1>


            <h2>Your skills</h2>
            <div class="row">
                <div class="col">
                    <ul>
                        <li th:each="skill : ${skills}">
                            <p><span th:text="${skill.skill}">skill</span>, <span th:text="${skill.likes}">skill</span> likes</p>
                        </li>
                    </ul>

                    <form th:action="@{/skills}" method="POST">
                        <input name="name"></input>
                        <input type="submit" value="Lisää taito!"></input>
                    </form>
                </div>
                <div class="col">

                    <h2>Friends</h2>

                    <ul>
                        <li th:each="connection : ${acceptedConnectionsTo}">
                            <a th:href="@{/accounts/{id}(id=${connection.connecter.id})}">
                                <span th:text="${connection.connecter.username}">name</span>
                            </a>
                            <form th:method="DELETE" th:action="@{/connections/{id}(id=${connection.id})}">
                                <input type="submit" value="Poista yhteys!"/>
                            </form>
                        </li>
                    </ul>
                    <ul>
                        <li th:each="connection : ${acceptedConnectionsFrom}">
                            <a th:href="@{/accounts/{id}(id=${connection.receiver.id})}">
                                <span th:text="${connection.receiver.username}">name</span>
                            </a>
                            <form th:method="DELETE" th:action="@{/connections/{id}(id=${connection.id})}">
                                <input type="submit" value="Unfriend!"/>
                            </form>
                        </li>
                    </ul>

                    <h2>Friends waiting to be accepted</h2>

                    <ul>
                        <li th:each="connection : ${unacceptedConnectionsTo}">
                            <a th:href="@{/accounts/{id}(id=${connection.connecter.id})}">
                                <span th:text="${connection.connecter.username}">name</span>
                            </a>
                            <form method="POST" th:action="@{/connections/{id}(id=${connection.id})}">
                                <input type="submit" value="Accept friend!"/>
                            </form>
                            <form th:method="DELETE" th:action="@{/connections/{id}(id=${connection.id})}">
                                <input type="submit" value="Decline!"/>
                            </form>
                        </li>
                    </ul>

                    <ul>
                        <li th:each="connection : ${unacceptedConnectionsFrom}">
                            <a th:href="@{/accounts/{id}(id=${connection.receiver.id})}">
                                <span th:text="${connection.receiver.username}">name</span>
                            </a> 
                        </li>
                    </ul>




                </div>

            </div>
        </div>


    </body>
</html>