<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Signup</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Sign up!</h1>
 
        <form action="#" th:action="@{/registration}"  method="POST">
            <table>
                <tr>
                    <td>Username </td>
                    <td><input type="text" name="username" /></td>
                    
                </tr>
                <tr>
                    <td>Password </td>
                    <td><input type="password" name="password" /></td>
                    
                </tr>
                
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>