<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Le Dance Signup</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Sign up!</h1>
 
        <form action="#" th:action="@{/registration}" th:object="${account}" method="POST">
            <input type="text" name="username"/>
            <input type="password" name="password"/>
            <input type="submit" value="Create new account!"/>
        </form>
    </body>
</html>
 